<div>
    <h2>Preloved Gear</h2>

    <p>Please send an email to <a href="mailto:contact@bricklanestudiospaisley.co.uk">contact@bricklanestudiospaisley.co.uk</a> if you are interested in any of the products below</p>

    <ul class="list-unstyled">
        {{#products}}
        <li class="media">
            <h3>{{Name}}</h3>
            <p><strong>{{Price}}</strong><br />{{Description}}</p>
        </li>
        {{/products}}
    </ul>
</div>